<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkdN6rYlK6GKPBSQz1DcvOyrUREbUH0AE</string>
	<key>GCM_SENDER_ID</key>
	<string>1027163234870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttertemplate.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-template-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-template-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027163234870:ios:510c0d9a062bd2e6c12e97</string>
</dict>
</plist>