<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoBNRcv1CMkR2_w9mBuZlH04mFwhwZ20I</string>
	<key>GCM_SENDER_ID</key>
	<string>234053689053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttertemplate.prod</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-template-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-template-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234053689053:ios:37b533bdd48c71617e0534</string>
</dict>
</plist>